{% extends "base.html" %}

{% block title %}Decode - Stego App{% endblock %}

{% block content %}
<h2>Decode Seite</h2>
<form action="{{ url_for('decode') }}" method="POST" enctype="multipart/form-data">
    <label for="stego_file">Stegodatei (JPEG):</label>
    <input type="file" id="stego_file" name="stego_file" required><br><br>

    <label for="spacer_text">Spacer Text:</label>
    <input type="text" id="spacer_text" name="spacer_text" required><br><br>

    <button type="submit">Extrahieren</button>
</form>




{% endblock %}
